*{
    margin:0;
    padding:0;
}
section{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.top-section{
    background-color: #984b4b;
}
.middle-section{
    background-color:lightblue;
}
.bottom-section{
    background-color:green;
}
section p{
    width: 90%;
}