

.rubik{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 600;
    font-style: normal;
}
.sedgwick{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 600;
    font-style: normal;
}
.dancing{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.fjalla{
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.indie{
    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-style: normal;
}



.wrapper{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 200px;
    height: 180px;
    background-color: #9c8484;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card, p{
    font-size: 16px;
}