body{
    margin: 0;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-registration{
    width: 50vw;
    height: 50vh;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
}
.form-registration div:nth-child(1){
    height: 20%;
    background-color: #8cbdbd;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    gap: 15px;
}
form>input{
    width: 300px;
    height: 30px;
}
form>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
form>div>input:nth-child(2){
    border-radius: 25px;
    background-color: rgba(102, 163, 163, 0.56);
    border: 1px solid black;
    width: 72px;
    height: 25px;
}