*{
    margin: 0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #426342;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}
.cards{
    width: 195px;
    height: 180px;
    background-color: #abc8ab;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    transition: 1s;
}
.cards p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
}

.cards:hover{
transform: scale(1.1);
    transition: 2s;
}
